<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <title>{% block title %}{% endblock %} - Dice-Roller</title>
    {% endblock %} 
</head>
<body>
    <header id="header">
        <a href="/"><h1>Dice-Roller</h1></a>
    </header>
    <main id="main">
        <div class="center-content">
            {% block main %}{% endblock %}
        </div>
    </main>
    <footer id="footer">
        <section>
            &copy; Copyright - 2025 by 
            {% block author %}
                {{ _author | default('You')}}
            {% endblock %}
        </section> 
    </footer>
</body>
</html>