footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 99vw;
}

.center-content {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 85vh;
}